contract/zkit/artifacts/
contract/zkit/artifacts/circom/batchTransfer_2.circom/BatchTransferCircuit.groth16.zkey
contract/circom/build/batchTransfer_2/batchTransfer_2_final.zkey
contract/zkit/artifacts/circom/batchTransfer_2.circom/BatchTransferCircuit.groth16.zkey
contract/circom/build/batchTransfer_2/batchTransfer_2_final.zkey
contract/zkit/artifacts/
contract/circom/build/
contract/zkit/artifacts/
contract/circom/build/
